{
  "parser"  : 'babel-eslint',
  "extends" : [
    'standard',
    'standard-react'
  ],
  "env"     : {
    "browser" : true
  },
  "plugins": [
    'babel',
    'react'
  ],
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },

  "rules": {
    "semi": 2,
    "react/jsx-no-bind": 0,
    "react/self-closing-comp": 0,
    "no-return-assign": 0,
    "max-len": 1,
    "react/prop-types": 2,
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "camelcase": 0,
    "indent": ['error', 'tab', {'SwitchCase': 1}],
    "react/jsx-indent": [2, 'tab'],
    "react/jsx-indent-props": [2, 'tab'],
    "no-mixed-spaces-and-tabs": 2,
    "jsx-quotes": ['error', 'prefer-single'],
    "no-console": 2
  }
}
